To run the programmes in this repository the following packages and versions are required to be installed:

python == 3.10.1
pandas ==  1.2.4
matplotlib == 3.5.1
numpy == 1.21.4
requests == 2.25.1
datetime == 4.3
scipy == 1.7.1
seaborn == 0.11.1

The below packages are included in pythons 3:
re 
urllib 

 